{% extends "layout.html" %}

{% block title %}
Sell Stocks
{% endblock %}

{% block main %}
<form action="/sell" method="POST">
 <label>Choose a stock to sell: </label>
<select name="symbol">
    <option disabled selected value style=display:none> </option>
    {% for stock in stocks %}
  <option value={{ stock["stock_symbol"] }}>{{ stock["stock_symbol"] }}</option>
  {% endfor %}
</select>
<input type="text" placeholder="Number" name="shares">
<input type="submit" value="sell">
</form>

{% endblock %}