:root {
    --sidebar-width: 220px;
    --carousel-height: 525px;
    --carousel-width: 400px;
    --border-width: 5px;
}

body, html {
    background-color: rgb(100,100,200);
    height: 100%;
}


#sidebar {
    background-color: lightblue;
    font-size: large;
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    /*padding: 20px;*/
    border-style: solid;
    border-width: 0px var(--border-width) 0px 0px;
    margin: -5px;
    margin-left: -10px;
    margin-top: -10px;
}

#sidebar h2 {
    width: var(--sidebar-width) - var(--border-width);
    background-color: lightgreen;
    padding: 20px;
    border-style: solid;
    border-width: 0px 0px var(--border-width) 0px;
    margin-top: -10px;
}

#main h2 {
    margin-left: 450px;
    text-decoration: underline;
    padding: 20px;
    padding-bottom: 50px;
    font-size: xxx-large;
}

#sidebar a {
    margin: 20px;
}

br {
   display: block;
   margin: 4px 0;
}

#main {
    margin-left: var(--sidebar-width);
    padding: 20px;
    font-size: x-large;
}

#main-left {
    float: left;
}

#main-right {
    float: right;
}

#main img {
    height: auto;
    width: 300px;
    margin-left: 250px;
    margin-right: 50px;
    border: var(--border-width);
    border-style: ridge;
    border-color: darkgray;
}

#pictures img {
    height: auto;
    width: 280px;
    margin: 0px;
}

#beside_slideshow {
    float: left;
    font-size: large;
}

footer {
    font-size: small;
    position: absolute;
    bottom: 15px;
    left: 1300px;
}

